.App {
  text-align: center;
}

.canvas {
  position: absolute;
  position: center;
  left: 200px;
  top: 150px;
}

.under-board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  width: 100px;
  position: center;
}